<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Works</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
   
  </head>
  <body>
    <h1>Works</h1>
    <h2>Here you can see list of some works of Vincent van Gogh</h2>
    <ul>
        <li>Cafe Terrace on the Place du Forum</li>
        <li>Wheat Field With Crows</li>
        <li>Olive Trees With Yellow Sky And Sun</li>
        <li>Irises</li>
        <li>Branches with Almond Blossom</li>
        <li>Starry Night Over The Rhone</li>
        <li>Wheat Field Under Clouded Sky</li>
    </ul>
  </body>
</html>
    
